In [18]:
"""1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*             
'hello'
-87.8
-
/
+
6"""

"1. In the below elements which of them are values or an expression? eg:- values can be\ninteger or string and expressions will be mathematical operators.\n\n*             \n'hello'\n-87.8\n-\n/\n+\n6"

In [19]:
 #'hello' is a string value

In [20]:
#-87.8 is a floating value

In [21]:
#+ Since its a mathematical operator, its an expression.

In [22]:
#6 is an integer value

In [23]:
#2. What is the difference between string and variable?

In [24]:
#Variables are like containers which are used to store data inside themselves. The data inside a variable can be of string, integer, float or set type which are known as datatype of a variable.

In [25]:
#String is a data type which is used to define some sort of text or character.

In [26]:
#3. Describe three different data types.

In [27]:
#Three different data types are string, integer, and float.

In [29]:
"""String is a data type which text or characters are stored.Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.
Example:"""

'String is a data type which text or characters are stored.Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.\nExample:'

In [30]:
x = 'Hello World'

In [31]:
type(x)

str

In [32]:
"""Integer is a data type which numerical values are stored.This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.
Example:"""

'Integer is a data type which numerical values are stored.This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.\nExample:'

In [33]:
y = 10

In [34]:
type(y)

int

In [35]:
"""Float is a data type in which the value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point.
Example:"""

'Float is a data type in which the value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point.\nExample:'

In [36]:
z = 20.22

In [37]:
type(z)

float

In [38]:
#4. What is an expression made up of? What do all expressions do?

In [39]:
#An expression is any legal combination of symbols that represents a value. An expression is a combination of operators and operands that is interprated to produce some other value.

In [40]:
#Expressions are representations of value.

In [42]:
"""5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?"""

'5. This assignment statements, like spam = 10. What is the difference between an\nexpression and a statement?'

In [43]:
#The basic difference between a statement and an expression is that an expression gives an output whereas a statement is a standalone unit which will not give any output. To say in laymen terms we can say that expressions do something while  are representations of values. Also we should keep in mind that all expressions are statements but not all statements are expressions.

In [44]:
spam = 10    #This is an expression and an assignment statement

In [45]:
print(spam) #This is a statement

10

"""6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1"""

In [47]:
"""After executing the code, the value of bacon will be 22 because we have only displayed the value of bacon + 1 and not changed
the value of the variable bacon itself.To change the value we can write :"""

'After executing the code, the value of bacon will be 22 because we have only displayed the value of bacon + 1 and not changed\nthe value of the variable bacon itself.To change the value we can write :'

In [21]:
bacon = bacon + 1

In [22]:
bacon

23

In [18]:
bacon = 22

In [19]:
bacon + 1

23

In [20]:
bacon

22

In [ ]:
"""7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3"""

In [15]:
'spam' + 'spamspam'

'spamspamspam'

In [16]:
'spam' * 3

'spamspamspam'

In [17]:
"""8. Why is eggs a valid variable name while 100 is invalid?"""

'"8. Why is eggs a valid variable name while 100 is invalid?'

In [ ]:
"""As per python naming convention, a variable must start with either a letter or an underscore and not with a number.Thus, eggs is a valid variable name where as 100 is not."""

In [ ]:
"""9. What three functions can be used to get the integer, floating-point number, or string
version of a value?"""

In [ ]:
"""Functions int(), str(), float() can be used to obtain the respective version of a value. We can simply typecast a value in int,float or string version by placing the variable inside round brackets and writing the name of the data type we want to convert the value of our variable into. Example: """

In [13]:
a = 100

In [14]:
float(a)

100.0

In [1]:
a = 100

In [6]:
type(a)

int

In [7]:
a = float(a)

In [8]:
type(a)

float

In [9]:
a

100.0

In [10]:
a = str(a)

In [11]:
type(a)

str

In [12]:
a

'100.0'

In [ ]:
"""10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'"""

In [3]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
"""We see an error in this expression because we can not concatenate string data type with integer data type. To fix this error we can change the data type from integer to string by adding (') on the begining and end of the integer data type as shown below:"""

In [5]:
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'